.filterbar {
    position: fixed;
    z-index: 2000;
    padding: 4px;

    top: 64px;
    right: 0;

    width: 320px;
    height: calc(100vh - 64px);

    background: #17172e;
    color: #dedbec;

    display: flex;
    flex-direction: column;

    border-left: 1px solid #0b071f;
    box-shadow: -8px 0 24px rgba(0, 0, 0, 0.35);

    transform: translateX(100%);
    transition: transform 0.25s ease;
}

/* Open State */
.filterbar.open {
    transform: translateX(0);
}

/* OVERLAY*/

.filterbar-overlay {
    position: fixed;
    inset: 0;

    background: rgba(10, 10, 18, 0.45);
    backdrop-filter: blur(2px);

    z-index: 1999;
}

/* CONTENT */

.filterbar-content {
    flex: 1;

    overflow-y: auto;
    overflow-x: hidden;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 28px;

    padding-bottom: 180px;
}

/* Custom Scrollbar */
.filterbar-content::-webkit-scrollbar {
    width: 6px;
}

.filterbar-content::-webkit-scrollbar-track {
    background: transparent;
}

.filterbar-content::-webkit-scrollbar-thumb {
    background: #3d3d63;
    border-radius: 999px;
}

/* HEADER */

.filterbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 4px;
}

.filterbar-title {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.4px;

    color: #ffffff;
}

/* SECTION */

.section {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.section-title {
    font-size: 18px;
    font-weight: 600;

    color: #ffffff;

    margin: 0;
    padding-bottom: 10px;

    border-bottom: 2px solid #2d2d49;
}

/* FOLDABLE*/

.foldable {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.foldable-header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px 10px;

    background: transparent;

    border: transparent;
    border-radius: 12px;

    color: #f2f2fa;

    font-size: 15px;
    font-weight: 500;

    cursor: pointer;

    transition: 0.2s ease;
}

.foldable-header:hover {
    background: #2d2d4d;
}

.foldable-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* INPUTS*/

.text-input,
.date-input {
    width: 100%;
    box-sizing: border-box;
  
    padding: 8px 10px;

    background: #22223b;

    border: 1px solid #343457;
    border-radius: 12px;

    color: #ffffff;
    font-size: 14px;

    outline: none;

    transition: 0.2s ease;
}

.text-input::placeholder {
    color: #8f8faa;
}

.text-input:focus,
.date-input:focus {
    border-color: #6f6fff;
    background: #282847;
}

/* DATE GROUP*/

.date-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.select-input {
    width: 100%;

    padding: 12px 14px;

    background: transparent;

    border: transparent;
    border-radius: 12px;

    color: white;
    font-size: 14px;

    outline: none;
    cursor: pointer;

    transition: 0.2s ease;
}

.select-input:focus {
    border:1px solid #343457;
    background: #22223b;
}

.select-input option {
    background: #22223b;
    color: white;
}